/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }

 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }

 blockquote, q { quotes: none; }

 blockquote:before, blockquote:after,
 q:before, q:after { content: ""; content: none; }

 ins { background-color: #ff9; color: #000; text-decoration: none; }

 mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

 del { text-decoration: line-through; }

 abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

 table { border-collapse: collapse; border-spacing: 0; }

 hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

 input, select { vertical-align: middle; }

 body {
 	color: #252525;
 	font-family: Georgia, serif;
 }

 #background {
 	background: url("brainsss.jpg") repeat fixed center center / cover rgba(255, 255, 255, 0.9);
 }

 #main {
 	background: rgba(255, 255, 255, 0.8);
 	margin-top: 40px;
 	padding: 5px 0px 10px 20px;
 	border-bottom-left-radius: 15px;
 	border-top-left-radius: 15px;
 	text-align: center;
 	float: right;
 	width: 550px;
 }
/*
 .social-media {
    margin: 10px 0 0 0;
 }
*/
 h1 {
 	font-size: 65px;
 	margin: 30px 0px 30px 4px;
 	text-align: left;
 	padding: 10px 0 10px 0;
 }

 h3  {
 	color: white;
 	background: #5873ba;
 	border-bottom-left-radius: 5px;
 	padding: 10px;
 	margin: 15px 0 15px;
 	font-size: 19px;
 	letter-spacing: 1px;
 	font-weight: lighter;
 	text-align: left;
 }

 p  {
 	padding: 10px 20px 0 7px;
 	line-height: 25px;
 	text-align: left;
 }

 a {
 	color: #c65db1;
 	text-decoration: none;
 	font-weight: bold;
 }

 div {
 	display: inline-block;
 	padding: 10px;
 	line-height: 25px;
 }

 .hov {
 	padding: 0 2px 0 2px;
 }

#linkedin {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -267px 1px;
}

#linkedin:hover {
    background-position: -229px 1px;
}

 #github {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -115px 1px;
}

#github:hover {
    background-position: -77px 1px;
}

#facebook {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -39px 1px;
}

#facebook:hover {
    background-position: -1px 1px;
}

#google {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -191px 1px;
}

#google:hover {
    background-position: -153px 1px;
}

#twitter {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -419px 1px;
}

#twitter:hover {
    background-position: -381px 1px;
}

#researchgate {
    position: relative;
    float: left;
    padding: 1px;
    margin: 1px;
    width: 36px;
    height: 36px;
    background: url("SocialMedia/spritesheet2.png");
    background-repeat: no-repeat;
    background-position: -343px 1px;
}

#researchgate:hover {
    background-position: -305px 1px;
}